<% if logged_in? %>
  <% if @users.any? %>
    <h1>エントリー中のユーザー</h1>
    <% @users.each do |user| %>
    <div style="background-image:url(<%= asset_path user.profile_img.url if user.profile_img? %>)" />
      <div class="entry-text">
        <h3><%= user.try :name %></h3>
        <p><%= user.try :department_name %></p>
      </div>
    <% end %>
    <section class="entry_form">
            <%= render 'shared/entry_form' %>
    </section>
  <% else %>
      <p>ただいまエントリー中のユーザーはいません。</p>
  <% end %>
<% else %>
  <div class="center jumbotron">
  	<h1>シャッフルランチ</h1>

  	<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %> 
  </div>

  <%= link_to image_tag("rpi_car-iloveimg-resized.jpg", alt: "logo"), '#' %>
<% end %>