<% if logged_in? %>
  <div class="row entry-user">
      <div class="col-md-8">
        <h3>エントリー中のユーザー</h3>
        <% if @users.any? %>
          <article>
            <% @users.each do |user| %>
                <div class="photo">
                  <%= image_tag user.profile_img.url if user.profile_img? %>
                </div>
                <div class="text">
                  <%= user.try :name %>
                  <%= user.try :department_name %>
                </div>
            <% end %>
          </article>
        <% else %>
            <p>ただいまエントリー中のユーザーはいません。</p>
        <% end %>

        <section class="entry_form">
                <%= render 'shared/entry_form' %>
        </section>
      </div>
  </div>
<% else %>
  <div class="center jumbotron">
  	<h1>シャッフルランチ</h1>

  	<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %> 
  </div>

  <%= link_to image_tag("rpi_car-iloveimg-resized.jpg", alt: "logo"), '#' %>
<% end %>