<% provide(:title, "趣味を登録") %>

<h1 class="basic-heading">趣味を登録</h1>

  <div class="cta first_categories">
    <% @first_categories.each do |first| %>
      <a class="all active" data-first="<%= p first[0] %>" href="#" role="button"><%= first[1] %></a>
    <% end %>
  </div>

  <div class="second_categories">
    <% @second_categories.each do |second| %>
      <a class="standby" data-first-id="<%= p second[2] %>" data-second="<%= p second[0] %>" href="#" role="button"><%= second[1] %></a>
    <% end %>
  </div>

  <div class="third_categories">
    <% @third_categories.each do |third| %>
      <a class="standby" data-second-id="<%= p third[2] %>" data-third="<%= p third[0] %>" href="#" role="button"><%= third[1] %></a>
    <% end %>
  </div>

  <div class="forth_categories">
    <% @forth_categories.each do |forth| %>
      <a class="standby" data-third-id="<%= p forth[2] %>" data-forth="<%= p forth[0] %>" href="#" role="button"><%= forth[1] %></a>
    <% end %>
  </div>
  
<hr>

<h3>登録する趣味一覧</h3>
  <%= form_tag({ controller: :user_hobbies, action: :hobby_save}, class: 'form-horizontal' , id: 'hobby_register') do %>
  
    <div class="hobby_list">
      <div id="my_hobby" class="my_hobbies">
      </div>

      <ul id="hobby_delete">
      </ul>
    </div>

    <div class="form-actions btn-center">
      <%= submit_tag "趣味を登録", class: "square_btn" %>
    </div>

  <% end %>
