<% provide(:title, "趣味を登録") %>

<h1 class="basic-heading">趣味を登録</h1>

  <div class="cta first_categories">
    <% @first_categories.each do |first| %>
      <div class="active" data-first="<%= first[0] %>"><%= first[1] %></div>
    <% end %>
  </div>

  <div class="second_categories">
    <% @second_categories.each do |second| %>
      <div class="standby" data-first-id="<%= second[2] %>" data-second="<%= second[0] %>"><%= second[1] %></div>
    <% end %>
  </div>

  <div class="third_categories">
    <% @third_categories.each do |third| %>
      <div class="standby" data-second-id="<%= third[2] %>" data-third="<%= third[0] %>"><%= third[1] %></div>
    <% end %>
  </div>

  <div class="forth_categories">
    <% @forth_categories.each do |forth| %>
      <div class="standby" data-third-id="<%= forth[2] %>" data-forth="<%= forth[0] %>"><%= forth[1] %></div>
    <% end %>
  </div>
  
<hr>

<h3>登録する趣味一覧</h3>
  <%= form_tag({ controller: :user_hobbies, action: :hobby_save}, class: 'form-horizontal') do %>
  
    <div class="hobby_list">
      <div id="my_hobby" class="my_hobbies">
      </div>

      <div id="hobby_delete">
      </div>
    </div>

    <div class="form-actions btn-center">
      <%= submit_tag "趣味を登録", class: "square_btn", id: 'hobby_register' %>
    </div>

  <% end %>