<% if @hobbies.present? %>
<!-- カテゴリーを登録済みの場合 -->
  <% provide(:title, "カテゴリーを編集") %>
  <h1 class="basic-heading">カテゴリーを編集</h1>
<% else %>
<!-- カテゴリー未登録の場合 -->
  <% provide(:title, "カテゴリーを登録") %>
  <h1 class="basic-heading">カテゴリーを登録</h1>
<% end %>

<p>下記のボタンから、興味のあるカテゴリーを選択してください。</p>
<p>※選択したボタンをもう一度クリックすると削除できます。</p>
<!-- 第1カテゴリ一覧 -->
<div class="first_categories">
  <% @first_categories.each do |first| %>
    <div class="" data-first="<%= first[0] %>"><%= first[1] %></div>
  <% end %>
</div>
<!-- 第2カテゴリ一覧 -->
<div class="second_categories">
  <% @second_categories.each do |second| %>
    <div class="standby second_category" data-first-id="<%= second.first_category_id %>" data-second="<%= second.id %>"><%= second.name %></div>
  <% end %>
</div>
<hr>


<h3>選択済みカテゴリー一覧</h3>
<%= form_tag({ controller: :user_hobbies, action: :edit}, class: 'form-horizontal') do %>
  <div class="hobby_list">
    <div id="my_hobby" class="my_hobbies">
      <% @my_hobbies.each do |my_hobby| %>
        <input type="text" name="user_hobby[][hobby_name]" data-second="<%= my_hobby.hobby_id %>" value="<%= my_hobby.hobby_name %>" readonly="" id="selected_category">
        <!-- hobby_idをhiddenでセット -->
        <input type="hidden" name="user_hobby[][hobby_id]" value="<%= my_hobby.hobby_id %>">
      <% end %>
    </div>
  </div>
  <div class="center">
    <%= submit_tag "趣味を登録", class: "square_btn confirm_btn", id: 'hobby_register' %>
    <%= link_to 'TOPへ戻る', root_url, class: "square_btn confirm_btn"%>
  </div>
<% end %>