<% if @hobbies.present? %>
<!-- カテゴリーを登録済みの場合 -->
  <% provide(:title, "カテゴリーを編集") %>
  <h1 class="basic-heading">カテゴリーを編集</h1>
  <h3>My Hobby</h3>
  <%= form_tag("/user_hobbies/del_hobby", method: "post", data: { confirm: '削除してよろしいでしょうか？' }, class: "col-sm-9") do %>
  <% if @hobbies.present? %>
    <% @hobbies.each do |hobby| %>
      <div class="display_flex registered_hobbies">
        <%= label_tag 'user_hobbies[id]', hobby.hobby_name %>
        <%= check_box_tag 'user_hobbies[id][]', hobby.id %>
      </div>
      <% end %>
      <div class="form-actions btn-center">
        <%= submit_tag "チェックした趣味をMy Hobbyから削除", class: "square_btn", id: 'my_hobby_del' %>
      </div>
    <% end %>
  <% end %>
  <hr>
<% else %>
<!-- カテゴリー未登録の場合 -->
  <% provide(:title, "カテゴリーを登録") %>
  <h1 class="basic-heading">カテゴリーを登録</h1>
<% end %>

<!-- カテゴリー検索窓 -->
<input type=form id="search_form" placeholder="カテゴリー検索" style="width: 250px;"/>
<ul id="search_result" class="category_search">
</ul>

<p>下記のボタンから、興味のあるカテゴリーを選択してください。</p>
<!-- 第1カテゴリ一覧 -->
<div class="first_categories">
  <% @first_categories.each do |first| %>
    <div class="" data-first="<%= first[0] %>"><%= first[1] %></div>
  <% end %>
</div>
<!-- 第2カテゴリ一覧 -->
<div class="second_categories">
  <% @second_categories.each do |second| %>
    <div class="standby second_category" data-first-id="<%= second[2] %>" data-second="<%= second[0] %>"><%= second[1] %></div>
  <% end %>
</div>
<hr>

<% if @hobbies.present? %>
<!-- カテゴリーを登録済みの場合 -->
  <h3>新たに登録するカテゴリー一覧</h3>
  <%= form_tag({ controller: :user_hobbies, action: :hobby_save}, class: 'form-horizontal') do %>
    <div class="hobby_list">
      <div id="my_hobby" class="my_hobbies">
      </div>
      <div id="hobby_delete">
      </div>
    </div>
    <div class="center">
      <%= submit_tag "趣味を登録", class: "square_btn confirm_btn", id: 'hobby_register' %>
      <%= link_to 'TOPへ戻る', root_url, class: "square_btn confirm_btn"%>
    </div>
  <% end %>
<% else %>
  <!-- カテゴリ未登録の場合 -->
  <h3>登録するカテゴリー一覧</h3>
    <%= form_tag({ controller: :user_hobbies, action: :hobby_save}, class: 'form-horizontal') do %>
      <div class="hobby_list">
        <div id="my_hobby" class="my_hobbies">
        </div>
        <div id="hobby_delete">
        </div>
      </div>
      <div class="form-actions btn-center">
        <%= submit_tag "趣味を登録", class: "square_btn", id: 'hobby_register' %>
      </div>
    <% end %>
<% end %>