<% provide(:title, "趣味を編集") %>

<h1 class="basic-heading">趣味を編集</h1>

<h3>My Hobby</h3>
<%= form_tag("/user_hobbies/del_hobby", method: "post", data: { confirm: '削除してよろしいでしょうか？' }, class: "col-sm-9") do %>
<% @hobbies.each do |hobby| %>
  <div class="display_flex">
    <%= label_tag 'user_hobbies[id]', hobby.hobby_name %>
    <%= check_box_tag 'user_hobbies[id][]', hobby.id %>
  </div>
  <% end %>
  <div class="form-actions btn-center">
    <%= submit_tag "チェックした趣味をMy Hobbyから削除", class: "square_btn", id: 'my_hobby_del' %>
  </div>
<% end %>

<hr>

<input type=form id="search_form" placeholder="カテゴリー検索" style="width: 250px;"/>
<ul id="search_result" class="category_search">
</ul>

<div class="cta first_categories">
  <% @first_categories.each do |first| %>
    <div class="active" data-first="<%= first[0] %>"><%= first[1] %></div>
  <% end %>
</div>

<div class="second_categories">
  <% @second_categories.each do |second| %>
    <div class="standby" data-first-id="<%= second[2] %>" data-second="<%= second[0] %>"><%= second[1] %></div>
  <% end %>
</div>

<div class="third_categories">
  <% @third_categories.each do |third| %>
    <div class="standby" data-second-id="<%= third[2] %>" data-third="<%= third[0] %>"><%= third[1] %></div>
  <% end %>
</div>

<div class="forth_categories">
  <% @forth_categories.each do |forth| %>
    <div class="standby" data-third-id="<%= forth[2] %>" data-forth="<%= forth[0] %>"><%= forth[1] %></div>
  <% end %>
</div>
  
<hr>

<h3>新たに登録する趣味一覧</h3>
<%= form_tag({ controller: :user_hobbies, action: :hobby_save}, class: 'form-horizontal') do %>
  <div class="hobby_list">
    <div id="my_hobby" class="my_hobbies">
    </div>
    <div id="hobby_delete">
    </div>
  </div>
  <div class="center">
    <%= submit_tag "趣味を登録", class: "square_btn confirm_btn", id: 'hobby_register' %>
    <%= link_to 'TOPへ戻る', root_url, class: "square_btn confirm_btn"%>
  </div>
<% end %>