<div class="flex_container tweet" data-id=<%= tweet.id %>>
	<div class="tweet_img">
	<% u = User.find_by(id: tweet.user_id) %>
	<!-- ユーザーのプロフィール画像が登録されている場合 -->
	<% if u.profile_img? %>
	 <%= image_tag(u.profile_img.url, :size => "30x30") %>
	<% else %>
		<!-- 画像サイズぶんのスペースを埋める -->
		<div class="img_empty"></div>
	<% end %>
	</div>
	<div class="tweet_text">
		<div class="tweet_name">
			<%= u.name if u %>
		</div>
		<%= tweet.content %>
		<div class="flex_container tweet_data">
			<div class="tweet_thread_mark">
				<%= link_to tweet_path(tweet.id), 
					remote: true, :data => {:toggle=>"modal", :target => ".t_detail"} do %>
					<i class="far fa-comment"></i>
				<% end %>
			</div>
			<div class="thread_count_<%= tweet.id %>">
				<%= TThread.where(tweet_id: tweet.id).count %>
			</div>
			<div class="tweet_category">
			<%= Category.find_by(id: tweet.category_id).name if tweet.category_id %>
			</div>

			<div class="tweet_at">
				<% posted_at = tweet.created_at %>
				<% if Time.now - posted_at >= 86400 %>
					<%= posted_at.strftime("%Y年 %m月 %d日") %>
				<% else %>
					<%= time_ago_in_words(posted_at) %>前
				<% end %>
			</div>
		</div>
	</div>
</div>