<tr>
	<td class="tweet_info">
		<%= 
			if u = User.find_by(id: tweet.user_id)
				u.name 
			end
		%>
	</td>

	<td class="tweet_cnt">
		<%= tweet.content %>
	</td>

	<td class="tweet_time">
		<%= tweet.created_at %>
	</td>

	<td class="tweet_info">
		<%= if  tweet.category_id
				Category.find_by(id: tweet.category_id).name
			end
		%>
	</td>
	
	<td class="tweet_info">
		<%= link_to "+", tweet_path(tweet.id), 
		remote: true, class: "btn btn-primary", :data => {:toggle=>"modal", :target => ".t_detail"} %>
	</td>
</tr>