<div class="row tweet">
	<div class="col-sm-1">
		<%= 
			if u = User.find_by(id: tweet.user_id)
				image_tag(u.profile_img.url, :size => "45x45") if u.profile_img? 
			end
		%>
	</div>

	<div class="col-sm-11">	
		<strong>
		<%= 
			if u = User.find_by(id: tweet.user_id)
				u.name 
			end
		%>
		</strong>
		<%= tweet.created_at %>
		<div class="tweet_content">
		<%= tweet.content %>
		</div>
		<div>
				
			<%= link_to tweet_path(tweet.id), 
				remote: true, class: "", :data => {:toggle=>"modal", :target => ".t_detail"} do %>
				<i class="far fa-comment"></i>
			<% end %>


			<%= if  tweet.category_id
					Category.find_by(id: tweet.category_id).name
				end
			%>
		</div>
	</div>
</div>