<% if @time_now.strftime('%H:%M:%S') < "12:30:00" %>
  <!-- 12:30以前の場合 -->
  <% if @my_lunch.nil? %>
    <!-- 未エントリーの場合  -->
    <a href="/entry?category_id=<%= card[:category_id] %>" class="lunch_card">
  <% elsif @my_lunch.present? %>
    <!-- エントリー中の場合 -->
    <% if matched? %>
      <!-- マッチング済みの場合 -->
      <a href="#" class="lunch_card link_disabled">
    <% else %>
      <!-- 未マッチングの場合 -->
      <a href="/users/cancel" data-confirm="エントリーをキャンセルしてもよろしいでしょうか？" class="lunch_card">
    <% end %>
  <% end %>
<% else %>
  <!-- 12:30以降の場合 -->
  <a href="#" class="lunch_card link_disabled">
<% end %>
  <article>
    <div class="lunch_card_category"><%= card[:category_name] %></div>
      <% if @time_now.strftime('%H:%M:%S') < "12:30:00" %>
        <!-- 12:30以前の場合 -->
        <% if matched? %>
        <!-- マッチング済みの場合 -->
          <p class="lunch_state">また明日エントリーをお待ちしております！</p>
        <% elsif entried? %>
        <!-- エントリー済みでマッチングしてない場合 -->
          <p class="lunch_state">クリックで現在のエントリーをキャンセルします >_<。</p>
        <!-- 未エントリーの場合 -->
        <% else %>
          <p class="lunch_state">クリックでこのランチにエントリーできます！</p>
        <% end %>
      <% else %>
        <!-- 12:30以降の場合 -->
        <p class="lunch_state">また明日エントリーをお待ちしております！</p>
      <% end %>
      <!-- スライドショー -->
      <div id="slider_wrap">
        <div id="slider">
            <div id="slider_inner_<%= card_counter %>">
                <ul id="photo_list_<%= card_counter %>">
                  <% card[:users].each do |user| %>
                    <li>
                      <%= image_tag user.profile_img.url, class: "lunch_card_img", :size => '30x30' if user.profile_img? %>
                    </li>
                  <% end %>
                </ul>
            </div><!-- end of #slider_inner --> 
        </div><!-- end of #slider --> 
      </div><!-- end of #slider_wrap --> 
      <!-- スライドショー -->
  </article>
</a>