<% if @time_now.strftime('%H:%M:%S') < "11:30:00" %>
<!-- 11:30以前の場合 -->
  <!-- 未エントリーの場合、リンク先をentry APIにセット  -->
  <% if @my_lunch.nil? %>
    <div class="lunch_card">
      <div class="lunch_card_category"><%= card[:category_name] %></div>
      <% if card[:is_others] %>
      <!-- 他のユーザーがエントリー中の場合 -->
        <p class="others_entry">他の人がエントリー中！</p>
      <% end %>
      <!-- エントリーボタン -->
      <!-- モーダルウィンドウを呼び出すボタン -->
      <button type="button" class="entry_button" data-toggle="modal" data-target="#myModal">エントリーする</button>
      <!-- モーダルウィンドウの中身 -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">ランチにエントリーする</h4>
            </div>
            <div class="modal-body">
              <%= form_tag("/entry", method: "post") do %>
                <%= label_tag :friends_num, '一緒に参加する友達の人数' %>
                <%= select_tag(:friends_num, options_for_select([['0人',0], ['1人', 1]]), {class: "select-menu"}) %>
                <%= hidden_field_tag :category_id, card[:category_id] %>
                <%= submit_tag  "エントリー", class: "square_btn"  %>
              <% end %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">閉じる</button>
             </div>
          </div>
        </div>
      </div>
      <!-- エントリーボタン -->
    </div>
  <!-- エントリー中の場合、リンク先をcancel APIにセット -->
  <% else %>
    <!-- 対象のランチカードにエントリー中の場合、左上に表示してカードの色を有効色に変更 -->
    <% if @my_lunch.category_id == card[:category_id] %>
      <a href="/users/cancel?id=<%= current_user.id %>" data-confirm="エントリーをキャンセルしてもよろしいでしょうか？" class="lunch_card my_entry_card" style="text-decoration: none;">
        <div class="lunch_card_category"><%= card[:category_name] %></div>
        <% if card[:is_others] %>
        <!-- 他のユーザーがエントリー中の場合 -->
          <p class="others_entry">他の人がエントリー中！</p>
        <% end %>
        <!-- キャンセルボタン -->
        <div class="entry_button">キャンセルする</div>
      </a>
    <% else %>
    <!-- 対象のカードにエントリー中でない場合 -->
      <div class="lunch_card">
        <div class="lunch_card_category"><%= card[:category_name] %></div>
        <% if card[:is_others] %>
        <!-- 他のユーザーがエントリー中の場合 -->
          <p class="others_entry">他の人がエントリー中！</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
<!-- 11:30以降の場合 -->
  <!-- 明日のランチに未エントリーの場合、リンク先をentry APIにセット  -->
  <% if @my_lunch.nil? %>
    <div class="lunch_card">
      <div class="lunch_card_category"><%= card[:category_name] %></div>
      <% if card[:is_others] %>
      <!-- 他のユーザーがエントリー中の場合 -->
        <p class="others_entry">他の人がエントリー中！</p>
      <% end %>
      <!-- エントリーボタン -->
      <!-- モーダルウィンドウを呼び出すボタン -->
      <button type="button" class="entry_button" data-toggle="modal" data-target="#myModal">エントリーする</button>
      <!-- モーダルウィンドウの中身 -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">ランチにエントリーする</h4>
            </div>
            <div class="modal-body">
              <%= form_tag("/entry", method: "post") do %>
                <div class="center">
                  <%= label_tag :friends_num, '一緒に参加する友達の人数' %>
                  <%= select_tag(:friends_num, options_for_select([['0人',0], ['1人', 1]]), {class: "select-menu"}) %>
                </div>
                <%= hidden_field_tag :category_id, card[:category_id] %>
                <div class="modal-btn-center">
                  <%= submit_tag  "エントリー", class: "square_btn"  %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- エントリーボタン -->
    </div>
  <!-- 明日のランチにエントリー済みの場合 -->
  <% else %>
    <!-- 対象のランチカードにエントリー中の場合、左上に表示してカードの色を有効色に変更 -->
    <% if @my_lunch.category_id == card[:category_id] %>
      <a href="/users/cancel?id=<%= current_user.id %>" data-confirm="エントリーをキャンセルしてもよろしいでしょうか？" class="lunch_card my_entry_card" style="text-decoration: none;">
        <div class="lunch_card_category"><%= card[:category_name] %></div>
        <% if card[:is_others] %>
        <!-- 他のユーザーがエントリー中の場合 -->
          <p class="others_entry">他の人がエントリー中！</p>
        <% end %>
        <!-- キャンセルボタン -->
        <div class="entry_button">キャンセルする</div>
      </a>
    <% else %>
      <div class="lunch_card">
        <div class="lunch_card_category"><%= card[:category_name] %></div>
        <% if card[:is_others] %>
        <!-- 他のユーザーがエントリー中の場合 -->
          <p class="others_entry">他の人がエントリー中！</p>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>