<%= form_for(@user, html: {id: :user_form,class: 'form-horizontal'}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= f.label :name, class: 'col-sm-4' do %>
      <span class="label label-danger">必須</span>
      名前 / Name
    <% end %>
    <div class="col-sm-8">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, class: 'col-sm-4' do %>
      <span class="label label-danger">必須</span>
      メール / Mail
    <% end %>
    <div class="col-sm-8">
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, class: 'col-sm-4' do %>
      <span class="label label-danger">必須</span>
      パスワード / Password
    <% end %>
    <div class="col-sm-8">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, class: 'col-sm-4' do %>
      <span class="label label-danger">必須</span>
      パスワード(確認用) / Password(Check)
    <% end %>
    <div class="col-sm-8">
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :self_intro, class: 'col-sm-4' do %>
      <span class="label label-danger">必須</span>
      ひとこと(25文字以内)
    <% end %>
    <div class="col-sm-8">
      <%= f.text_field :self_intro, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :department_name, class: 'col-sm-4' do %>
      <span class="label label-danger">必須</span>
      部署 / Department
    <% end %>
    <div class="col-sm-8">
      <%= f.text_field :department_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :slack_id, class: 'col-sm-4' do %>
      <span class="label label-danger">必須</span>
      Slack ID
    <% end %>
    <div class="col-sm-8">
      <%= f.text_field :slack_id, class: 'form-control' %>
    </div>
  </div>

  <div class="form-inputs" id="image-cropper">
    <div class="cropit-image-preview">
      <input type="range" class="cropit-image-zoom-input">
      <%= f.label :profile_img %>
      <%= f.file_field :profile_img, class: 'cropit-image-input' %>
      <%= f.hidden_field :avatar_data_uri %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit yield(:button_text), id: "submitBtn", class: "square_btn" %>
  </div>
<% end %>

<%= javascript_include_tag "jquery.cropit.js" %>
<script type="text/javascript">
  $('#user_profile_img').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('5MBより大きいサイズのファイルはアップロードできません。');
    }
  });
</script>