<h3 class="check_content_title">マッチング相手とチャットして集合場所を決めよう</h3>
<p class="matching_chat_asterisk">※このチャットでメッセージを送るとマッチングした相手にメールで通知されます</p>
<div class="tweet_form chat_form">
    <%= form_for(@chat, remote: true, url: { controller: 'chats', action: 'btn_create'}) do |f| %>
      <%= f.text_area :text, size: "55x2", required: true, placeholder: '待ち合わせ場所と時間を決めてください（推奨:at グランドタワー1階 time 13:00)' %>
      <div class="flex_container">
        <%= f.hidden_field :pair_id, value: @pair_id %>
        <%= f.submit "投稿", class: "post_tweet" %>
      </div>
  <% end %>
</div>


<div class="timeline-shows pair_chats" data-pair_id=<%= @pair_id %>>
  <%= render partial: 'chats/chat', collection: @chats %>
</div>
<%= paginate @chats, remote: true %>