<div class="tweet_form">
  <%= form_for(@chat, remote: true, url: { controller: 'chats', action: 'btn_create'}) do |f| %>
    <%= f.text_area :text, size: "55x2", required: true %>
    <div class="flex_container">
      <%= f.hidden_field :pair_id, :value => @pair_id %>
      <%= f.submit "投稿", class: "post_tweet" %>
    </div>
  <% end %>
</div>


<div class="timeline-shows">
  <%= render partial: 'chats/chat', collection: @chats %>
</div>
<%= paginate @chats, remote: true %>