<% provide(:title, 'マッチング相手情報') %>
<!-- 未マッチングの場合 -->
<% if @matched_lunch.nil? %>
  <p>まだマッチングしておりません</p>
<% else %>
<h1 class="eigo-title">You got new Lunch Friends !!</h1>
<div class="entry_top">
  <div class="index_left">
    <h3 class="check_content_title">「<%= @lunch_theme %>」</h3>
    <p class="matching_chat_asterisk"><%= @matching_date %>のマッチング相手を確認</p>

    <% @pairs.each.with_index(1) do |pair, index| %>
      <div class="user-cnt col-lg-12">
        <h2 class="matching_member">マッチングしたランチフレンズ.<%= index %></h2>    
          <div class="pair-info">
            <div class="pair-img">
              <div><%= image_tag pair.profile_img.url if pair.profile_img? %></div>
            </div>
            <div class="pair-text">
              <h4 class="cate_selected"><%= pair.try :name %>　さん</h4>
              <h4 class="member_data"><%= pair.try :department_name %></h4>
              <h4 class="cate_selected"><%= pair.try :self_intro %></h4>
              <p class="member_slack"><%= pair.try :slack_id %>
                <br>※右のチャットでどうしても連絡がとれない時のみ使ってください
              </p>
              <% if @matched_lunch.friends_num == 1 %>
                <h4 class="member_data">この人は友達と一緒の参加です</h4>
              <% end %>
            </div>
          </div>
      </div>
    <% end %>
    <div class="btn-center">
      <%= link_to "TOP", root_path, class: "square_btn" %>
    </div>
  </div>
  <div class="index_right">
    <%= render 'users/pair_chat' %>
  </div>
</div>
<% end %>