<% provide(:title, '確認') %>
<h2 class="bf-sub-title">登録確認</h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for(@user, html: {id: :user_form,class: 'form-horizontal'}) do |f| %>
        <div class="prof-attr">
          <label class="prof-label">
            <span class="label label-danger">必須</span>
            名前 / Name
          </label>
          <div class="prof-cnt">
            <%= @user.try :name %>
            <%= f.hidden_field :name %>
          </div>
        </div>

        <div class="prof-attr">
          <label class="prof-label">
            <span class="label label-danger">必須</span>
            メール / Mail
          </label>
          <div class="prof-cnt">
            <%= @user.try :email %>
            <%= f.hidden_field :email %>
          </div>
        </div>

        <div class="prof-attr">
          <label class="prof-label">
            <span class="label label-danger">必須</span>
            パスワード / Password
          </label>
          <div class="prof-cnt">
            <%= @user.try :password %>
            <%= f.hidden_field :password %>
            <%= f.hidden_field :password_confirmation %>
          </div>
        </div>


        <div class="prof-attr">
          <label class="prof-label">
            ひとこと(25文字以内)
          </label>
          <div class="prof-cnt">
            <%= @user.try :self_intro %>
            <%= f.hidden_field :self_intro %>
          </div>
        </div>

        <div class="prof-attr">
          <label class="prof-label">
            <span class="label label-danger">必須</span>
            部署 / Department
          </label>
          <div class="prof-cnt">
            <%= @user.try :department_name %>
            <%= f.hidden_field :department_name %>
          </div>
        </div>        

        <div class="prof-attr">
          <label class="prof-label">
            <span class="label label-danger">必須</span>
            Slack ID
          </label>
          <div class="prof-cnt">
            <%= @user.try :slack_id %>
            <%= f.hidden_field :slack_id %>
          </div>
        </div>   
        

        <div class="prof-attr">
          <label class="prof-label">
            <span class="label label-danger">必須</span>
            プロフィール画像（本人写真）
            / profile picture
          </label>
          <div class="prof-cnt">
            <%= image_tag @user.profile_img.url if @user.profile_img? %>
            <%= f.hidden_field :profile_img %>

          </div>
        </div>


        <div class="actions">
            <%= f.submit 'Back!', name: 'back'%>
        </div>
        <div class="actions">
          <%= f.submit 'create!' %>
        </div>
    <% end %> 
  </div>
</div>