<% provide(:title, "プロフィール編集") %>
<h1>プロフィール編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <%= f.label :名前 %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :メールアドレス %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :パスワード %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :パスワード確認用, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.label :部署名 %>
      <%= f.text_field :department_name, class: 'form-control'  %>

      <%= f.label :スラックID %>
      <%= f.text_field :slack_id, class: 'form-control'  %>

      <%= f.submit "変更を保存", class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>