<% provide(:title, "プロフィール編集") %>
<% provide(:button_text, '変更を保存') %>
<h1 class="login-title">Lunch Friends</h1>
<h2 class="basic-heading center">プロフィール編集</h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
  <%= form_for(@user, html: {id: :user_form,class: 'form-horizontal'}, url: { controller: 'users', action: 'update'}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.label :name, class: 'col-sm-4' do %>
        名前 / Name
      <% end %>
      <div class="col-sm-8">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :email, class: 'col-sm-4' do %>
        メール / Mail
        <p class="help-block">※@kcgrp.jpのメールアドレスのみ登録可能です</p>
      <% end %>
      <div class="col-sm-8">
        <%= f.email_field :email, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: 'col-sm-4' do %>
        <span class="label label-danger">必須</span>
        パスワード / Password
        <p class="help-block">パスワードは6文字以上で設定してください</p>
      <% end %>
      <div class="col-sm-8">
        <%= f.password_field :password, class: 'form-control', required: true, minlength: 6 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, class: 'col-sm-4' do %>
        <span class="label label-danger">必須</span>
        パスワード(確認用) / Password(Check)
      <% end %>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, class: 'form-control', required: true, minlength: 6 %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :department_name, class: 'col-sm-4' do %>
        部署 / Department
      <% end %>
      <div class="col-sm-8">
        <%= f.text_field :department_name, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :slack_id, class: 'col-sm-4' do %>
        Slack ID
        <p class="help-block">※@は付けずにIDを入力してください</p>
      <% end %>
      <div class="col-sm-8">
        <%= f.text_field :slack_id, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :self_intro, class: 'col-sm-4' do %>
        ひとこと(25文字以内)
      <% end %>
      <div class="col-sm-8">
        <%= f.text_field :self_intro, class: 'form-control' %>
      </div>
    </div>
   
    <div class="form-inputs" id="image-cropper">
      <div class="col-sm-5">
        <%= f.label :profile_img do %>
          プロフィール画像（本人写真）
          / profile picture
        <% end %>
        <p class="help-block">※待ち合わせの際に顔が分かるように、ご本人様のお写真をご使用ください
        <br>※200*200以上の大きさの、拡張子がjpg, jpeg, gif, pngのファイルのみアップロードできます。
        </p>
      </div>
      <div class="col-sm-7">
        <%= f.file_field :profile_img, accept: 'image/jpeg,image/gif,image/png', class: 'cropit-image-input'%>
        <div class="cropit-preview">
          <%= image_tag(@user.profile_img.url, class: "vanish") if @user.profile_img? %>
        </div>
        <div class="controls-wrapper">
          <div class="rotation-btns">
            <i class="fa fa-undo icon rotate-ccw-btn" aria-hidden="true"></i>
            <i class="fa fa-repeat icon rotate-cw-btn" aria-hidden="true"></i>
          </div>
          <div class="slider-wrapper">
            <i class="fa fa-picture-o icon icon-image small-image" aria-hidden="true"></i>
            <input type="range" class="cropit-image-zoom-input custom">
            <i class="fa fa-picture-o icon icon-image large-image" aria-hidden="true"></i>
          </div>
        </div>
      </div>
        <%= f.hidden_field :profile_img_data_uri %>    
    </div>
    
    <div class="form-actions btn-center">
      <%= hidden_field_tag :id, @user.id %>
      <%= f.submit yield(:button_text), id: "submitBtn", class: "square_btn confirm_btn btn_vertical" %>
      <%= link_to '戻る', users_profile_path, class: "square_btn confirm_btn btn_vertical"%>
    </div>

  <% end %>

  <script type="text/javascript">
    $('#user_profile_img').bind('change', function() {
      var size_in_megabytes = this.files[0].size/1024/1024;
      if (size_in_megabytes > 5) {
        alert('5MBより大きいサイズのファイルはアップロードできません。');
      }
    });

  </script>

  </div>
</div>