<div class="entry_top">
  <div class="index_left">
    <div class="collapse navbar-collapse" id="mainNav">
      <nav>
        <ul class="nav navbar-nav"> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag("triangle.svg", alt: "triangle", class: "header_show") %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "トップ", root_url %></li>
              <% if matched? %>
                <li><%= link_to "マッチング相手確認", check_path %></li>
              <% end %>
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "趣味を編集", hobby_show_path %></li>
              <li><%= link_to "お問い合わせ", contact_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="lunchfriends">
      <%= image_tag("lunchfriends.png", alt: "Lunch Friends", :size => "223x107", class: "") %>
    </div>
    <div class="lunch_kun">
      <%= image_tag("lunch_smile/asset-7-3-x.png", alt: "Lunch Smile", class: "Asset-73x") %>
    </div>
    <%= render 'shared/entry_state' %>
    <div class="today_date">開催中ランチ　<%= @today.year %>/<%= @today.month %>/<%= @today.day %></div>
    <div class="lunch_card_container flex_container">
      <!-- ランチカードを表示 -->
      <%=  render partial: 'users/card', collection: @cards %>
    </div><!-- lunch_card_container -->
    <div class="scroll_traiangle">
      <%= image_tag("footer_triangle.svg", alt: "footer_triangle", class: "footer_triangle") %>
    </div>
  </div>

  <div class="index_right">
    <div class="tweet_form">
      <%= form_for(@tweet, remote: true, url: { controller: 'tweets', action: 'btn_create'}) do |f| %>
        <%= f.text_area :content, size: "55x2", required: true %>
        <div class="flex_container">
          <div class="select_width">
            <p class="select_label select-group">オールジャンル</p>
            <%= select(:tweet, :category_id, options_for_select( @tw_selects, {:selected => 128 } ),{required: true}) %>
          </div>
          <%= f.submit "投稿", class: "post_tweet" %>
        </div>
      <% end %>
    </div>
    <!-- Timeline -->
    <div class="timeline-shows">
      <%= render partial: 'tweets/tweet', collection: @tweets %>
    </div>
    <%= paginate @tweets, remote: true %>
    <!-- Timeline -->
    <!-- Thread -->
    <div class="modal fade t_detail">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- reply元のtweet情報 -->
            <h4 class="t_thread_name"></h4>
          </div>
          <div class="modal-body">
            <!-- reply投稿用フォーム -->
            <div class="t_thread_form">
            </div>
            <!-- reply一覧 -->
            <div id="t_threads">
            </div>
            
          </div>
        </div>
      </div>
    </div><!-- /Thread  -->
  </div>
</div>