<% if logged_in? %>
  <div class="entry-user">
    
    <%= render 'shared/matching_info' %>
    <div class="form-group">
      <label>プロフィール写真</label>
      <div><%= image_tag @user.profile_img.url if @user.profile_img? %></div>
    </div>

    <h1 id="sample">エントリー中のユーザー</h1>
    <!-- スライドショー -->
    <% if @users.any? %>
      <div class="slideShow">
        <ul>
          <% @users.each do |user| %>
            <li>
              <%= image_tag user.profile_img.url if user.profile_img? %>
              <%= user.try :name %>
              <%= user.try :department_name %>
            </li>
          <% end %>       
        </ul>
      </div>
    <!--  -->    
    <% else %>
        <p>ただいまエントリー中のユーザーはいません。</p>
    <% end %>
      <%= render 'shared/entry_form' %>
  </div>
<% else %>
  <div class="center jumbotron">
  	<h1 id="sample">The Lunch</h1>

  	<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
    
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %> 
  </div>

<% end %>