<% if logged_in? %>

      <div class="flex_wrap">
        <div class="index_left">
          <div class="lunch_cover">
            <%= image_tag("lunch_cover/path-2.png", alt: "Lunch Cover", class: "Path-2") %>
            <div class="layer wideEnough selected Lunch-Friends">
            Lunch Friends
            </div>
          </div>

          <%= image_tag("lunch_smile/asset-7-3-x.png", alt: "Lunch Smile", class: "Asset-73x") %>
          <div class="today_date">開催中ランチ　<%= @today.year %>/<%= @today.month %>/<%= @today.day %></div>

          <div class="lunch_card_container flex_container">
            <% @cards.each_with_index do |card, i| %>
              <!-- 未エントリーの場合  -->
              <% if @user.category_id.nil? %>
                <a href="/entry?category_id=<%= p card[1] %>" class="lunch_card">
              <% else %>
              <!-- エントリー済みの場合 -->
                <a href="/users/cancel" data-confirm="エントリーをキャンセルしてもよろしいでしょうか？" class="lunch_card">
              <% end %>

              <article>
                <div class="lunch_card_category"><%= card[0] %></div>
                <% entry_num = User.where(category_id: card[1]).count %>
                <% if entry_num >0 %>
                  <p class="lunch_state"><%= entry_num %>名参加中</p>
                  <% @users = User.where(category_id: card[1]) %>
                  <!-- スライドショー -->
                  <div class="entry-cnt">
                    <div id="slider_wrap">
                      <div id="slider">
                          <div id="slider_inner_<%= p i %>">
                              <ul id="photo_list_<%= p i %>">
                                <% @users.each do |user| %>
                                  <li>
                                    <%= image_tag user.profile_img.url, :size => '30x30' if user.profile_img? %>
                                  </li>
                                <% end %>
                              </ul>
                          </div><!-- end of #slider_inner --> 
                      </div><!-- end of #slider --> 
                    </div><!-- end of #slider_wrap --> 
                    <!--  -->    
                  </div>
                  <!-- スライドショー -->
                <% else %>
                  <p class="lunch_state">このカテゴリーで今日のランチを開催しますか？</p>
                <% end %>
              </article>
              </a>
            <% end %>
            </div><!-- lunch_card_container -->
        </div>

        <div class="index_right">
          <!-- Timeline -->
          <div class="Rectangle-2">
            <%= form_for(@tweet, remote: true, url: { controller: 'tweets', action: 'btn_create'}) do |f| %>
              <!-- <div class="row"> -->
              <div class="flex_container">
                <!-- <div class="col-sm-2"> -->
                <div class="flex_1">
                  <%= image_tag(@user.profile_img.url, :size => "45x45", class: "tweet_form_img") if @user.profile_img? %>
                </div>

                <!-- <div class="col-sm-10"> -->
                <div class="flex_5">
                  <%= f.text_area :content, size: "55x2", placeholder: "投稿内容", required: true %>
                  <%= select(:tweet, :category_id, options_for_select( @cards, {:selected => 128 } ),{required: true}) %>
                  <%= f.submit "投稿", class: "post_tweet" %>
                </div>
                
              </div>
            <% end %>
          </div>


          <!-- Timeline -->
          <%= will_paginate @tweets %>
          <div class="timeline-shows">
            <%= render partial: 'tweets/tweet', collection: @tweets %>
          </div>
          <!-- Timeline -->

          <!-- Thread -->
          <div class="modal fade t_detail">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="t_thread_name"></h4>
                </div>
                <div class="modal-body">
                  <div class="t_thread_form">
                  </div>
                  <table id="t_threads">
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /Thread  -->
          <!-- /Timeline -->
        </div>
      </div>
<% else %>
  <div class="center">
    <h1 class="bf-title">Lunch Friends</h1>
    <div class="bf-img">
      <%= image_tag("lunch_logo.png", alt: "Lunch Friends logo") %>
    </div>
    <div class="bf-btn">
      <%= link_to "Sign up", signup_path, class: "square_btn bf-top" %>
    </div>
    <div class="bf-btn">
      <%= link_to "Login", login_path, class: "square_btn bf-top" %> 
    </div>
  </div>

<% end %>