<% if logged_in? %>
  <div class="entry-user">
    <div class="container-fluid entry-cnt">
      <h2>ユーザー情報</h2>
      <div class="user-info row">
        <div class="col-xs-3">
          <%= image_tag(@user.profile_img.url) if @user.profile_img? %>
        </div>
        <div class="col-xs-9">
          <p>ユーザー名：　<%= @user.try :name %></p>
          <%= render 'shared/user_info' %>
        </div>
      </div>
    </div>

    <div class="entry-cnt">
      <h2>エントリー中のユーザー</h2>
      <!-- スライドショー -->
      <% if @users.any? %>
        <div id="slider_wrap">
          <div id="slider">
              <div id="slider_inner">
                  <ul id="photo_list">
                    <% @users.each do |user| %>
                      <li>
                        <%= image_tag user.profile_img.url, :size => '160x160' if user.profile_img? %>
                      </li>
                    <% end %>
                  </ul>
              </div><!-- end of #slider_inner --> 
          </div><!-- end of #slider --> 
        </div><!-- end of #slider_wrap --> 
        <!--  -->    
      <% else %>
        <p>ただいまエントリー中のユーザーはいません。</p>
      <% end %>
        <%= render 'shared/entry_form' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
  	<h1>The Lunch</h1>

  	<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
    
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %> 
  </div>

<% end %>