<% if logged_in? %>
  <div class="entry-user">
    <h1>エントリー中のユーザー</h1>
    <% if @users.any? %>
      <div class="container">
        <% @users.each do |user| %>
          <article>
            <section class="entry-contnt">
              <div class="entry-photo" style="background-image:url(<%= asset_path user.profile_img.url if user.profile_img? %>)" >
              </div>
              <div class="entry-text">
                <h3><%= user.try :name %></h3>
                <p><%= user.try :department_name %></p>
              </div>
            </section>
          </article>
        <% end %>
      </div>
    </div>
  <% else %>
      <p>ただいまエントリー中のユーザーはいません。</p>
  <% end %>
      <%= render 'shared/entry_form' %>
<% else %>
  <div class="center jumbotron">
  	<h1>シャッフルランチ</h1>

  	<%= link_to "新規登録", signup_path, class: "btn btn-lg btn-primary" %>
    
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %> 
  </div>

<% end %>