<div class="entry_top">
  <div class="index_left">
    <div class="collapse navbar-collapse" id="mainNav">
      <nav>
        <ul class="nav navbar-nav"> 
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag("triangle.svg", alt: "triangle", class: "header_show") %>　Menu
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "トップ", root_url %></li>
              <% if matched? %>
                <li><%= link_to "マッチング相手確認", check_path %></li>
              <% end %>
              <li><%= link_to "プロフィール", current_user %></li>
              <li><%= link_to "趣味を編集", hobby_path %></li>
              <li><%= link_to "お問い合わせ", contact_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <div class="lunchfriends">
      <%= image_tag("lunchfriends.png", alt: "Lunch Friends", :size => "223x107", class: "") %>
    </div>
    <div class="lunch_kun">
      <%= image_tag("lunch_smile/asset-7-3-x.png", alt: "Lunch Smile", class: "Asset-73x") %>
    </div>
    <!-- マッチング済みの場合にマッチング相手確認ページリンクを表示 -->
    <% if matched? %>
      <div class="pair_check">
        <%= link_to "マッチング相手を確認する", check_path, class: "square_btn" %>
      </div>
    <% end %>
    <!-- 日付とエントリー状態を表示 -->
    <%= render 'shared/entry_state' %>
    <div class="lunch_card_container flex_container">
      <!-- ランチカードを表示 -->
      <%=  render partial: 'users/card', collection: @cards %>
    </div><!-- lunch_card_container -->
  </div>

  <div class="index_right">
    <h2 class="instruction_title">How to Use Lunch Friends</h2>
    <h4 class="instruction_step">ランチフレンズって？</h4>
    <div class="instruction_flex">
      <div class="instruction_text">
        <p class="instruction_sentence">ランチの時間を使って趣味が同じ人とランチで交流できるサービスです。</p>
        <br>
        <p class="instruction_sentence">
          左側のカテゴリーの「エントリーする」をクリックすると、<br>
          同じカテゴリーにエントリーした人とランダムで<br>
          <span class="main_dark_color">12:30にマッチング</span>し、<span class="main_dark_color">13:00からランチ</span>へいけます。
          <br><span class="instruction_aserisk">※基本3-5人でのマッチングになります。</span>
          <br><span class="instruction_aserisk"> ※同カテゴリーに参加者が2人のみの場合2人でマッチングします。</span>
        </p>
      </div>
      <div class="instruction_img img_none">
        <%= image_tag("clock.png", alt: "時計", id: "clock_img") %> 
      </div>
    </div>
    <br>
    <h4 class="instruction_step">Step1</h4>
    <p class="instruction_sentence">
      <span class="main_dark_color">毎日12:30にマッチングが行われる</span>ので、それまでにカテゴリーを選択してエントリーしてください。
      <br><span class="instruction_aserisk">※24時間前からエントリー可能です。</span>
      <br><span class="instruction_aserisk">※12:30までであればいつでもエントリーのキャンセルも可能です。</span>
    </p>
    <br>
    <h4 class="instruction_step">Step2</h4>
    <p class="instruction_sentence">
      <span class="main_dark_color">12:30にメールリンクまたはTOPページからマッチング相手を確認</span>してください。
      <br><span class="instruction_aserisk">※マッチングはメールで通知されます。</span>
      <br><span class="instruction_aserisk">※人数が不足している場合、マッチングされないこともあります。</span>
    </p>
    <br>
    <h4 class="instruction_step">Step3</h4>
    <p class="instruction_sentence">
      【マッチング相手の確認】ページで、チャットして集合場所と時間を決めてください。
      <br><span class="instruction_aserisk">※12:30以降に確認できます。</span>
    </p>
    <br>
    <h4 class="instruction_step">Step4</h4>
    <p class="instruction_sentence">
      LunchへGo!!
      <br><span class="instruction_aserisk">※13:00に1Fへ集合するのを推奨しています。</span>
    </p>
  </div>
</div>