<% provide(:title, 'プロフィール') %>
<h1 class="bf-title">Lunch Friends</h1>
<h2 class="basic-heading center">プロフィール</h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
        <div class="prof-attr">
          <label class="prof-label">
            名前 / Name
          </label>
          <div class="prof-cnt">
            <%= @user.try :name %>
          </div>
        </div>

        <div class="prof-attr">
          <label class="prof-label">
            メール / Mail
          </label>
          <div class="prof-cnt">
            <%= @user.try :email %>
          </div>
        </div>

        <div class="prof-attr">
          <label class="prof-label">
            パスワード / Password
          </label>
          <div class="prof-cnt">
            ●●●●●●●●●●●●●
          </div>
        </div>

        <div class="prof-attr">
          <label class="prof-label">
            ひとこと(25文字以内)
          </label>
          <div class="prof-cnt">
            <%= @user.try :self_intro %>
          </div>
        </div>

        <div class="prof-attr">
          <label class="prof-label">
            部署 / Department
          </label>
          <div class="prof-cnt">
            <%= @user.try :department_name %>
          </div>
        </div>        

        <div class="prof-attr">
          <label class="prof-label">
            Slack ID
          </label>
          <div class="prof-cnt">
            <%= @user.try :slack_id %>
          </div>
        </div>   
        

        <div class="prof-attr">
          <label class="prof-label">
            プロフィール画像（本人写真）
            / profile picture
          </label>
          <div class="prof-cnt prof-img">
            <%= image_tag @user.profile_img.url if @user.profile_img? %>
          </div>
        </div>

        <div class="center">
          <%= link_to "プロフィール編集", edit_user_path(current_user), class: "square_btn confirm_btn btn_vertical" %>
          <%= link_to 'TOPへ戻る', root_url, class: "square_btn confirm_btn btn_vertical"%>
        </div>
  </div>
</div>