<div class="bs-component">
	<%= form_tag(action: :entry) do %>
		<%= label :user, :category_id, 'マッチングカテゴリー' %><span class="label label-danger">必須</span>
		<%= collection_select(:user, :category_id, Category.all, :id,  :name) %><br>

		<%= check_box  :user, :any_category %>
		<span>ご希望のカテゴリーでマッチング相手がみつからない場合は別のカテゴリーの方とマッチングする</span>
		<div class="btn-center">
			<%= submit_tag "Let's Lunch", class: "square_btn" %>
		</div>     
	<% end %>
</div>