<div class="bs-component">
	<% if entried? %> 
		<% if matched? %>
			<h2>マッチング相手を確認する</h2>
			<div class="btn-center">
				<%= link_to "heck matching partner", check_path, class: "square_btn" %>
			</div>
		<% else %>
			<h2>エントリー内容を確認する</h2>
			<div class="btn-center">
				<%= link_to "Check the contents", entry_path, class: "square_btn" %>
			</div>
			<%= form_tag("/cancel", method: "post", id: "") do %>
			 	<div class="center">
				  	<%= link_to 'エントリーをキャンセルする', {controller: :users, action: :cancel}, method: :post, 
				  	data: {confirm: "本当にキャンセルしてもよろしいでしょうか？" }%>
			  	</div>
			<% end %>

		<% end %>

	<% else %>
		<%= form_tag(action: :entry) do %>
			<h2>ランチへ行く</h2>
			<div class="category-center">
				<li class="category-select">
					どんな人と行く？
				</>
				<div class="category-select">
					<%= collection_select(:user, :category_id, Category.all, :id,  :name, {include_blank: '選択してください'} ,{:class => "select-menu"}) %>
				</div>
			</div>
				<div class="checkbox-center">
					<%= check_box  :user, :any_category %>
					<span>ご希望のカテゴリーでマッチング相手がみつからない場合は別のカテゴリーの方とマッチングする</span>
				</div>
				<div class="btn-center">
					<%= submit_tag "Let's go to Lunch", class: "square_btn" %>
				</div>
		<% end %>
	<% end %>
</div>